option_settings:
  - option_name: SERVER_PORT
    value: '5000'
  - option_name: redisHost
    value: ''
  - option_name: redisPort
    value: ''
  - option_name: awsAccessKey
    value: ''
  - option_name: awsSecretKey
    value: ''
  - option_name: kinesisItemRetrievalRequestStream
    value: ''
  - option_name: kinesisPartitionKey
    value: ''
  - option_name: accessTokenUri
    value: ''
  - option_name: clientId
    value: ''
  - option_name: clientSecret
    value: ''
  - option_name: grantType
    value: ''
  - option_name: sierraItemApi
    value: ''
  - option_name: kinesisItemUpdateStream
    value: ''
